<div *ngIf="cinema">
	<form [formGroup]="cinemaForm">
		<div class="form-group">
			<h3>{{cinema.name}} Details:</h3>
			<h4>Name: </h4>
			<input class="form-control" name="name" [(ngModel)]="cinema.name" formControlName="name" placeholder="Name">
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-space" [disabled]="!cinemaForm.valid" (click)="updateCinema()">Save name</button>
			<button class="btn btn-dark btn-space" (click)="goBack()">Back</button>
			<button class="btn btn-primary btn-space" (click)="addRoom()">Add room</button>
			<button class="btn btn-dark btn-space" (click)=showAllShowings()>Show all showings</button>
			<button class="btn btn-danger btn-space" (click)="deleteCinema()">Delete cinema</button>
		</div>
		<div *ngIf="cinema.rooms.length > 0">
			<div class="form-group">
				<h4>Rooms:</h4>
				<div class="list-group">
					<div *ngFor="let room of cinema.rooms">
						<a (click)="editRoom(room._id)" class="list-group-item list-group-item-action align-items-start">
				      <p class="mb-1">Number: {{room.number}}</p>
				      <p class="mb-1">Type: {{room.type}}</p>
				      <p class="mb-1">Capacity: {{room.capacity}}</p>
					    <div *ngIf="room.showings.length > 0">
					    	<p>Showings:</p>
					    	<div *ngFor="let showing of room.showings">
					    		<a (click)="showMovieList(showing.movieTitle)" class="list-group-item list-group-item-action align-items-start">
					    			<small>{{showing.movieTitle}} {{showing.startDate | date:'dd-MM-yyyy'}}</small><br/>
						    		<small>{{showing.startDate | date: 'HH:mm'}} - {{showing.endDate | date:'HH:mm'}}</small><br/>
					    		</a>
					    	</div>
					    </div>
					  </a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>