<form>
	<div *ngIf="!rooms">
		<h3>No showings found!</h3>
	</div>
	<div *ngIf="rooms">
		<div class="form-group">
			<h3>{{title}} showings:</h3>
			<div class="container">
				<div class="list-group list-group-horizontal">
					<div class="row">
						<div *ngFor="let room of rooms">
							<div class="list-group-item">
								<p class="mb-1">Room {{room.number}} {{room.type}}</p>
								<small>{{room.showing.startDate | date:'dd-MM-yyyy' }}</small><br/>
				    		<small>{{room.showing.startDate | date:'HH:mm'}} - {{room.showing.endDate | date:'HH:mm'}}</small><br/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-primary" (click)="goBack()">Back</button>
	</div>
</form>